html {
  background: #ffffff;
}
td {
  width: 65px;
  height: 65px;
  background: #c5bebd;
}
.select {
  background: #e44b40;
}
table,
.export {
  margin: 1em auto;
  padding: 1em;
  display: block;
  resize: none;
  border-spacing: 2px;
}
.export {
  width: 450px;
  height: 200px;
  border: none;
  font-family: monospace;
}
div,
.btn{
  display: flex;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.btn{
  position: absolute;
  top: 2em;
  right: 10em;
}
button {
  padding: 0.5em;
  margin: 10px;
}